@font-face {
    font-family: 'RobotoL'; 
    src: url(../fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: 'RobotoB'; 
    src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
    font-family: 'RobotoR'; 
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: 'RobotoT'; 
    src: url(../fonts/Roboto-Thin.ttf);
}
body {
  font-size: 16px;
	font-family: 'RobotoR';
	height: 100%;
}

input, textarea, button {
	outline: none;
}

p {
    line-height: 1.5 !important;
}

.overlay {
	background: rgba(0, 0, 0, .5);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	display: none;
}

.popup {
	width: 100%;
	padding: 10px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	background: #ffffff;
}

.popup-content {
	width: 100%;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

.popup-image {
	width: 100%;
	height: 100%;
	position: relative;
	overflow-y: auto;
	overflow-x: hidden;
}

.popup-image img {
	position: absolute;
    left: -9999px;
    right: -9999px;
    margin: auto;
}

.popup-close {
	position: absolute;
	top: 8px;
	right: 8px;
	font-family: RobotoL;
	font-size: 30px;
	color: #323232;
	text-align: center;
	cursor: pointer;
	z-index: 1000;
  line-height: 1;
}

.h3 {
    font-size: 1.125rem;
    font-family: 'RobotoB';
    text-transform: uppercase;
    margin-top: 1.5rem;
}

.btn {
    background: transparent;
    font-size: 0.875rem;
    color: #fdda00;
    text-transform: uppercase;
    font-family: 'RobotoB';
    border: 2px solid #fdda00;
    padding: 1rem 2rem 1rem 2rem;
    cursor: pointer;
    margin: auto;
    display: block;
}

.promo {
	background: url(../img/image.jpg) 0 100%;
	background-size: cover;
}
.pattern {
	background:  url(../img/overlay-pattern.png);
    padding-top: 5rem;
    padding-bottom: 7.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.promo h1 {
	font-family: 'RobotoB';
	font-size: 2.5rem;
	text-transform: uppercase;
	color: #fff;
    position: relative;
    margin-bottom: 1.5rem;
}

.promo h1:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1.5rem;
    height: 2px;
    width: 7.5rem;
    margin: 0 auto;
    background-color: #fdda00;
}
.promo p {
	font-size: 1rem;
	color: #fff;
	font-family: 'RobotoL';
    padding-top: 1.5rem;
    margin-bottom: 2.5rem;
}

.promo-wrap {
	text-align: center;
	padding: 0;
}
.promo-footer{
	background: rgba(255,255,255,.5);
	text-align: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 5rem;
    padding-bottom: 7.5rem;
    position: relative;

}
.promo-footer a {
	width: 25px;
	height: 25px;
	background: url(../img/arrow.png) no-repeat;
	position: absolute;
	bottom: 1.5rem;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.gift-image {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background: #fdda00;
    text-align: center;
    padding-top: 16px;
    position: absolute;
    top: -2.5rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

.gift-border {
	border-bottom: 2px solid #fdda00;
	border-right: 2px solid #fdda00;
	border-left: 2px solid #fdda00;
    border-top: 2px solid #fdda00;
	display: inline-block;
	position: relative;
	font-size: 1.125rem;
	font-family: RobotoL;
	color: #323232;
	text-transform: uppercase;
	line-height: 150%;
	padding: 6vh 3vw 3vh 3vw;
	-webkit-font-smoothing: antialiased;
}
.header {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
	background: #fff;
}
.border {
	border: 1px solid #fdda00;
	width: 46%;
	margin: 20px auto;
}
.works,
.market, .footer {
    padding-top: 5rem;
    padding-bottom: 7.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
	display: inline-block;
    box-sizing: border-box;
}
.works p, .market p, .footer p {
  text-align: center;
  padding-top: 2rem;
  font-family: 'RobotoL';
  font-size: 0.875rem;
}
.logo-wrap {
	float: left;
}
.logo-description {
	font-family: RobotoL;
	color: #43707e;
	text-align: right;
    padding-top: 10px;
    display: none;
}
.logo-description span {
	font-family: RobotoB;
}
.list {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}
.list-item:last-child {
    margin-bottom: 0;
}
.list-item {
    max-width: 20rem;
  	border: 1px solid #f5f6f6;
  	position: relative;
    margin-bottom: 1.5rem;
    display: inline-block;
    vertical-align: top;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
.list-item:hover {
	cursor: pointer;
	background: #fdda00;
}
.list-item img {
	width: 100%;
  display: block;
}

.list-item h3 {
	color: #43707e;
}
.list-item p {
	padding: 1rem 1.5rem 3.5rem 1.5rem;
	font-size: 0.875rem;
	font-family: 'RobotoL';
}
.list-item:hover p {
	color: #43707e;
}

.list-link {
    margin-bottom: 1.5rem;
}
.list-item a {
	font-size: 0.875rem;
	text-decoration: none;
	font-family: 'RobotoB';
	color: rgba(67,112,126,.6);
}
.list-item .container-img,
.container-market {
	position: relative;
}
.list-item .container-img div {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	background: url(../img/link_icon.png) no-repeat 50% 50%, url(../img/overlay-pattern-blue.png);
	z-index: 999;
	display: none;
}
.list-item:hover .container-img div {
	display: block;
}

.h2 {
    text-align: center;
    font-family: 'RobotoB';
    font-size: 1.5rem;
    text-transform: uppercase;
    position: relative;
}

.h2:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1rem;
    height: 2px;
    width: 7.5rem;
    margin: 0 auto;
    background-color: #fdda00;
}

.works .h2 {
	color: #43707e;
}
.works-wrap {
	text-align: center;
}

.btn--work:hover, .btn--footer:hover {
    background: #fdda00;
    color: #ffffff;
}
.market {
	text-align: center;
	font-size: 0.875rem;
	color: #fff;
	font-family: 'RobotoL';
	background: radial-gradient(rgba(253,218,0,.15), transparent), #43707e;
}
.market-list {
	margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}
.market-item .container-market div {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	background: url(../img/link_icon.png) no-repeat 50% 50%, url(../img/overlay-pattern-blue.png);
	z-index: 999;
	display: none;
}
.market-item .container-market {	
	margin-bottom: 1rem;
}
.market-item:hover .container-market div {
	display: block;
	cursor: pointer;
}
.market-item {
    max-width: 20rem;
    position: relative;
    margin-bottom: 1.5rem;
    display: inline-block;
    vertical-align: top;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}
.market-item img{
	width: 100%;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
}
.market .h2 {
	color: #fff;
}
.btn--market:hover, .btn--promo:hover {
	background: #fdda00;
	color: #43707e;
}

.container-market {
    background-color: rgba(255,255,255, .2);
    padding-bottom: 1.5rem;
}

.footer {
    background: #f0f0f0;
}
.footer .h2 {
    color: #43707e;
}
.footer p {
    color: #000;
}

.input {
  	width: 100%;
  	height: 2.625rem;
  	border: 1px solid rgba(67,122,126,.11);
  	color: #323232;
    font-family: 'RobotoL';
    font-size: 12px;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    padding-left: 0.5rem;
    box-sizing: border-box;
}
.input:focus {
    box-shadow: inset 0px 0px 0px 1px rgba(175, 195, 200, 1);
    outline: 0;
}

.input--textarea {
    height: auto;
    resize: none;
    line-height: 2.625rem;
    margin-bottom: 2.5rem;
}

.label {
    color: #323232;
    font-family: 'RobotoL';
    font-size: 12px;
}
.contacts {
    margin-top: 2.5rem;
}

.contacts__item {
    padding-left: 2.5rem;
    margin-bottom: 1.5rem;
    font-family: 'RobotoL';
    font-size: 0.875rem;
    color: #43707e;
}

.lcolumn {
    margin-bottom: 2.5rem;
}

div.phone {
	background: url(../img/phone.png) no-repeat 0 50%;
}
div.email {
	background: url(../img/email.png) no-repeat 0 50%;
}
div.address {
	background: url(../img/map.png) no-repeat 2px 50%;
}
.copyright {
	padding: 10px 0;
	text-align: center;
	color: #7d9aa3;
	background: #43707e;
	text-transform: uppercase;
	font-family: 'RobotoR';
	font-size: 12px;
}
.visible {
	display: block;
}
.scrolldisable {
	overflow: hidden;
}

@media (min-width: 768px) {
    .popup {
        min-width: 760px;
        width: 80%;
        height: 80%;
        padding-top: 25px;
    }

    .logo-description {
        display: block;
    }

    .list-item {
       min-height: 640px;
    }

    .list-link {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
    }

    .lcolumn, .rcolumn {
      width: 20rem;
      margin: 0 auto;
    }

    .lcolumn {
      margin-bottom: 2.5rem;
    }

    .input {
      width: 100%;
    }
}

@media (min-width: 1024px) {
  html {
    font-size: 18px !important;
  }

  .header, .pattern, .promo-footer, .works, .market, .footer {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .pattern, .promo-footer, .works, .market, .footer {
    padding-top: 7.5rem;
    padding-bottom: 10rem;
  }

  .header {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .list-item {
       min-height: 680px;
    }

  .contacts {
      text-align: center;
  }

  .lcolumn, .rcolumn {
      vertical-align: top;
      display: inline-block;
      text-align: left;
  }

  .lcolumn {
    margin-right: 2.5rem;
  }

  .btn--footer {
    margin-left: 0;
  }
}

@media (min-width: 1024px) {
  .header, .pattern, .promo-footer, .works, .market, .footer {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .pattern {
    padding-top: 10rem;
    padding-bottom: 12.5rem;
  }
}