@font-face {
    font-family: 'RobotoL'; 
    src: url(../fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: 'RobotoB'; 
    src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
    font-family: 'RobotoR'; 
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: 'RobotoT'; 
    src: url(../fonts/Roboto-Thin.ttf);
}
body {
	font-family: 'RobotoR';
	height: 100%;
}

input, textarea, button {
	outline: none;
}

p {
    line-height: 1.5 !important;
}

/*.overlay {
	background: rgba(0, 0, 0, .5);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	display: none;
}

.popup {
	width: 100%;
	padding: 10px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	background: #ffffff;
}

.popup-content {
	width: 100%;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

.popup-image {
	width: 100%;
	height: 100%;
	position: relative;
	overflow-y: auto;
	overflow-x: hidden;
}

.popup-image img {
	position: absolute;
    left: -9999px;
    right: -9999px;
    margin: auto;
}

.popup-close {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #ffffff;
	position: absolute;
	top: -5px;
	right: -5px;
	font-family: RobotoL;
	font-size: 30px;
	color: #323232;
	text-align: center;
	cursor: pointer;
	z-index: 1000;
}*/

.h3 {
    font-size: 18px;
    font-family: 'RobotoB';
    text-transform: uppercase;
    margin-top: 24px;
}

.btn {
    background: transparent;
    font-size: 14px;
    color: #fdda00;
    text-transform: uppercase;
    font-family: 'RobotoB';
    border: 2px solid #fdda00;
    padding: 16px 32px 16px 32px;
    cursor: pointer;
}

.promo {
	background: url(../img/image.jpg) 0 100%;
	background-size: cover;
}
.pattern {
	background:  url(../img/overlay-pattern.png);
    padding-top: 80px;
    padding-bottom: 120px;
    padding-left: 24px;
    padding-right: 24px;
}
.promo h1 {
	font-family: 'RobotoB';
	font-size: 38px;
	text-transform: uppercase;
	color: #fff;
    position: relative;
    margin-bottom: 24px;
}

.promo h1:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -24px;
    height: 2px;
    width: 120px;
    margin: 0 auto;
    background-color: #fdda00;
}
.promo p {
	font-size: 16px;
	color: #fff;
	font-family: 'RobotoL';
    padding-top: 24px;
    margin-bottom: 40px;
}

.btn--promo {
    background: #fdda00;
    color: #43707e;
}

.promo-wrap {
	text-align: center;
	padding: 0;
}
.promo-footer{
	background: rgba(255,255,255,.5);
	text-align: center;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 80px;
    padding-bottom: 120px;
    position: relative;

}
.promo-footer a {
	width: 25px;
	height: 25px;
	background: url(../img/arrow.png) no-repeat;
	position: absolute;
	bottom: 24px;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.gift-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #fdda00;
    text-align: center;
    padding-top: 15px;
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

.gift-border {
	border-bottom: 2px solid #fdda00;
	border-right: 2px solid #fdda00;
	border-left: 2px solid #fdda00;
    border-top: 2px solid #fdda00;
	display: inline-block;
	position: relative;
	font-size: 18px;
	font-family: RobotoL;
	color: #323232;
	text-transform: uppercase;
	line-height: 150%;
	padding: 6vh 3vw 3vh 3vw;
	-webkit-font-smoothing: antialiased;
}
.header {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
	background: #fff;
}
.border {
	border: 1px solid #fdda00;
	width: 46%;
	margin: 20px auto;
}
.works,
.market, .footer {
    padding-top: 80px;
    padding-bottom: 120px;
    padding-left: 24px;
    padding-right: 24px;
	display: inline-block;
    box-sizing: border-box;
}
.buy-btn{
	cursor: pointer;
	height: 40px;
}
.buy-header {
	float: right;
	border: 0;
	background: #43707e;
	outline: 0;
	margin: 15px 0;
}
.logo-wrap {
	float: left;
}
.logo-description {
	font-family: RobotoL;
	color: #43707e;
	text-align: right;
    padding-top: 10px;
    display: none;
}
.logo-description span {
	font-family: RobotoB;
}
.list {
    margin-top: 40px;
    margin-bottom: 40px;
}
.list-item:last-child {
    margin-bottom: 0;
}
.list-item {
    max-width: 320px;
	border: 1px solid #f5f6f6;
	position: relative;
    margin-bottom: 24px;
    display: inline-block;
    vertical-align: top;
    margin-left: 24px;
    margin-right: 24px;
}
.list-item:hover {
	cursor: pointer;
	background: #fdda00;
}
.list-item img {
	width: 100%;
}

.list-item h3 {
	color: #43707e;
}
.list-item p {
	padding: 16px 24px 24px 24px;
	font-size: 14px;
	font-family: 'RobotoL';
}
.list-item:hover p {
	color: #43707e;
}

.list-link {
        margin-bottom: 24px;
}
.list-item a {
	font-size: 14px;
	text-decoration: none;
	font-family: 'RobotoB';
	color: rgba(67,112,126,.6);
}
.list-item .container-img,
.container-market {
	position: relative;
}
.list-item .container-img div {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	background: url(../img/link_icon.png) no-repeat 50% 50%, url(../img/overlay-pattern-blue.png);
	z-index: 999;
	display: none;
}
.list-item:hover .container-img div {
	display: block;
}

.h2 {
    text-align: center;
    font-family: 'RobotoB';
    font-size: 24px;
    text-transform: uppercase;
    position: relative;
}

.h2:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -16px;
    height: 2px;
    width: 120px;
    margin: 0 auto;
    background-color: #fdda00;
}

.works .h2 {
	color: #43707e;
}
.works-wrap {
	text-align: center;
}
.works p, .market p, .footer p {
	text-align: center;
    padding-top: 32px;
	font-family: 'RobotoL';
	font-size: 14px;
}
.buy-work {
	padding: 8px 40px;
	background: transparent;
	outline: 0;
	height: auto;
	border: 2px solid #fdda00;
	display: block;
	font-family: 'RobotoB';
	color: #43707e;
	font-size: 14px;
    margin: 0 auto;
}
.btn--work:hover {
	background: #fdda00;
    color: #ffffff;
}
.market {
	text-align: center;
	font-size: 14px;
	color: #fff;
	font-family: 'RobotoL';
	background: radial-gradient(rgba(253,218,0,.15), transparent), #43707e;
}
.market-list {
	margin-top: 40px;
    margin-bottom: 40px;
}
.market-item .container-market div {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	background: url(../img/link_icon.png) no-repeat 50% 50%, url(../img/overlay-pattern-blue.png);
	z-index: 999;
	display: none;
}
.market-item .container-market {	
	margin-bottom: 16px;
}
.market-item:hover .container-market div {
	display: block;
	cursor: pointer;
}
.market-item {
    max-width: 320px;
    position: relative;
    margin-bottom: 24px;
    display: inline-block;
    vertical-align: top;
    margin-right: 24px;
    margin-left: 24px;
}
.market-item img{
	width: 100%;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
}
.market .h2 {
	color: #fff;
}
.buy-market {
	width: auto;
	padding: 10px 15px;
	background: transparent;
	outline: 0;
	height: auto;
	border: 2px solid #fdda00;
	margin: 15px auto 50px;
	display: block;
	font-family: 'RobotoB';
	color: #fdda00;
	font-size: 14px;
}
.btn--market:hover {
	background: #fdda00;
	color: #43707e;
}

.container-market {
    background-color: rgba(255,255,255, .2);
    padding-bottom: 24px;
}

.footer {
    background: #f0f0f0;
}
.footer .h2 {
    color: #43707e;
}
.footer p {
    color: #000;
}

.input {
	width: 100%;
	height: 42px;
	border: 1px solid rgba(67,122,126,.11);
	color: #323232;
    font-family: 'RobotoL';
    font-size: 12px;
    margin-top: 8px;
    margin-bottom: 24px;
    padding-left: 8px;
}
.input:focus {
    box-shadow: inset 0px 0px 0px 1px rgba(175, 195, 200, 1);
    outline: 0;
}

.input--textarea {
    resize: none;
    line-height: 42px;
}

.label {
    color: #323232;
    font-family: 'RobotoL';
    font-size: 12px;
}
.contacts {
    margin-top: 40px;
}

.contacts__item {
    padding-left: 40px;
    margin-bottom: 24px;
    font-family: 'RobotoL';
    font-size: 14px;
    color: #43707e;
}

.lcolumn {
    margin-bottom: 40px;
}

div.phone {
	background: url(../img/phone.png) no-repeat 0 50%;
}
div.email {
	background: url(../img/email.png) no-repeat 0 50%;
}
div.address {
	background: url(../img/map.png) no-repeat 2px 50%;
}
.copyright {
	padding: 10px 0;
	text-align: center;
	color: #7d9aa3;
	background: #43707e;
	text-transform: uppercase;
	font-family: 'RobotoR';
	font-size: 12px;
}
.visible {
	display: block;
}
.scrolldisable {
	overflow: hidden;
}

@media (min-width: 768px) {
    .popup {
        min-width: 760px;
        width: 80%;
        height: 80%;
        padding-top: 25px;
    }

    .logo-description {
        display: block;
    }

    .list-item {
       
    }
}